<header>
  <nav>
    <ul class="nav nav-pills bg-light">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/refresh">Refresh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/worker-example">Worker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Register</a>
      </li>
    </ul>
  </nav>
</header>